<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  El mundo es tu pajaro.
  <p>
    If you get lost ask to Abel. will be your guide.
  </p>

  <ion-item> 
    <ion-label>email</ion-label>
    <ion-input type="text" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item *ngIf="email!=null"> 
    <ion-label>password</ion-label>
    <ion-input type="text" [(ngModel)]="password"></ion-input>
  </ion-item>

  <button ion-button (click)="signIn()" *ngIf="password!=null">sign in</button>
  <button ion-button (click)="logIn()" *ngIf="password!=null">sign in</button>
  <ion-label *ngIf="respuesta!=null">{{respuesta}}</ion-label>

</ion-content>
